/* body{
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,6,77,1) 44%, rgba(27,1,11,1) 100%);  
} */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    width: 100%;
    height: 90px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,6,77,1) 44%, rgba(27,1,11,1) 100%);
    position: fixed;
    z-index: 10;
}

.logo{
    font-size: 20px;
    font-weight: 600;
}
.logo a{
    text-decoration: none;
    color: white;
}

.nav-menu{
    display: flex;
}

.nav-menu li{
    padding: 0 10px;
}

.nav-menu li a{
    font-size: 22px;
    font-weight: 300;
    position: relative;
    text-decoration: none;
    color: white;
}

.nav-menu li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff5945;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-menu li a:hover::after{
    width: 100%;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 1040px){
    /* .header{
        position: fixed;
        z-index: 10;
    } */
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: black;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
    }

    .nav-menu li{
        padding: 10px;
    }
    .nav-menu li a{
        font-size: 24px;
    }
    button{
        width: 120px;
    }
    .hamburger{
        display: initial;
    }
}